<!DOCTYPE html>
<html class='docs' lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Universal Redux Boilerplate</title>
  <%# Stylesheets from `webpack-stats.json` %>
  <% assets.style.forEach(function (style) { %>
    <link rel='stylesheet' href='<%= style %>' />
  <% }); %>
</head>
<%# React App output %>
<body class='layout-docs'>
  <div id='content'><%- body %></div>

  <script>window.__state = <%- state %>;</script>
  <script src='http://www.actionview.cn:8080/scripts/jquery.min.js'></script>
  <script src='http://www.actionview.cn:8080/scripts/jquery.caret.min.js'></script>
  <script src='http://www.actionview.cn:8080/scripts/jquery.atwho.min.js'></script>
  <script src='http://www.actionview.cn:8080/scripts/mermaid.min.js'></script>
  <script src='<%- assets.commonjs[0] %>'></script>
  <script async defer src='<%- assets.script[0] %>'></script>
</body>
</html>
